{% extends 'base.html'%}
{% block content%}

<!DOCTYPE html>
<html>
    <body>
    <ul class="nav nav-pills nav-fill tab">
        <li class="nav-item">
          <a class="nav-link tablinks" onclick="openTab(event, 'tab1')">Tab1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tablinks" href="{% url "display_data"%}" >Tab2</a>
        </li>

    </ul>


    <div class="row py-5 justify-content-center tabcontent" id="tab1">
        <div class="col-md-8">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="search" onkeypress="insertItemIntoListBox()">

            <ul class="list-group py-2" id="results">


            </ul>

        </div>

        <form>



          <select class="list-group py-2" id="access" size="10">

          </select>


      </form>

    </div>

    <div class="row py-5 justify-content-center tabcontent" id="tab2">
        <div class="col-md-8">
            <!-- <span class="input-group-text" id="addon-wrapping">@</span> -->
            <!-- <input type="text" class="form-control" placeholder="Search" aria-label="Search" id="search"> -->
            <!-- <ul class="list-group py-2" id="results">


            </ul> -->



            <div >
                <table id="add-row" class="display table table-striped table-hover">
                  <thead>

                      <th>Id</th>
                      <th>name</th>
                      <th>value</th>
                      </tr>
                  </thead>
                 <tbody>
                      {% for x in allobjects2 %}
                          <tr>
                          <th>{{ x.id }}</th>
                          <th>{{ x.name }}</th>
                          <th>{{ x.value1 }}</th>
                          </td>
                      {% endfor %}

                        </tr>
                    </tbody>
              </table>
          </div>




          <div id="container" style="width: 100%;">
            <canvas id="pie-chart"></canvas>
          </div>




        </div>
    </div>
    </body>
</html>

{% endblock content%}

{%block scripts%}
<script>
    function openTab(evt, tab) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tab).style.display = "block";
        evt.currentTarget.className += " active";
      }
</script>

<script type="text/javascript">
  const data = [];
  function insertItemIntoListBox() {


    if (event.keyCode == 13) {

      var x = document.getElementById("access");
      var item = document.getElementById("search").value;
      var option = document.createElement("option");
      option.text = item;
      x.add(option);
      console.log(item)
      data.push(item)
    }else{
      return false;
    }

    console.log(data)

    $.ajax({
      type: 'POST',
      url: '/',
      data: {'data[]': data},
  })




  }



</script>



 <script>

    var config = {
      type: 'bar',
      data: {
        datasets: [{
          data: {{ graph_data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ graph_labels|safe }}
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>


{%endblock scripts%}

